@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(#232630, #050507);
  padding: 0 clamp(1rem, 5vw, 32px);
  font-family: "Poppins", sans-serif;
}

.validUsername {
  border-color: var(--color-green-500);
}

.invalidUsername {
  border-color: var(--color-red-500);
}
